/*  */
/* all  */
/*  */
*{
margin: 0;
padding: 0;
border: 0;
font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
  text-decoration: none;
}

html, body {
    margin: 0;
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

/*  */
/* nav */
/*  */
nav {
    width: 100%;
    height: 100px;
    background-color: rgb(111, 111, 243);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.logo{
  margin-left: 50px;
}

.nav_center{
    display: flex;
    grid-column: 2;
    justify-self: center;
    align-items: center;
}

nav li, nav div, nav a {
    margin: 0 10px;
    font-weight: bold;
    color: azure;
    font-size: 20px;
    text-decoration: none;
}

nav a{
  margin: 0;
}

.nav_right {
  grid-column: 3;
  justify-self: end;
  margin-right: 100px;
}

.nav_right > a{
  background-color: #4c87af;
  width: 120px;
  height: 40px;
  border-radius: 15px;
  border: #fff 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
/* nav footer */
/*  */

.h1_header{
    background-color: rgb(255, 184, 53);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1_header > div{
    font-weight: bold;
    color: azure;
    font-size: large;
}

/*  */
/* main container*/
/*  */

.notauth{
  text-align: center;
  color: rgb(255, 0, 140);
  font-size: 50px;
}

main{
    background-color: rgb(216, 248, 248);
    height: 100%;
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 15px 100px;
    justify-content: center;
}

/*  */
/* small-item */
/*  */

.grid-item {
  background-color: #cddff1;
  border-radius: 10px;
  border: 3px solid black;
  color: #ffffff;
  padding: 5px;
  height: 300px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Равномерное распределение по вертикали */
}

.item-name {
  margin-top: 5px;
  height: 30px;
}

.item-body {
  height: 190px;
}

.item-info {
  display: flex;
  gap: 10px;
}

.info-item {
  background-color: #4d94ff; /* Цвет синего div'а */
  border-radius: 5px;
  padding: 4px;
  margin: 5px 0; /* Добавлено расстояние сверху и снизу между элементами */
  text-align: center;
  font-size: 12px;
  width: 60px;
}

.item_buttons {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.LikeCat{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 18px;
  width: 120px;
  height: 30px;
  background-color: rgb(177, 5, 177);
}

.CheckCat {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 18px;
  width: 120px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  color: black;
}

/*  */
/* big item */
/*  */

.cat-details {
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  max-width: 480px;
  grid-template-columns: 10fr 2fr;
  grid-template-rows: auto auto;
  justify-content: center;
}

.cat-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  grid-row: 1;
  grid-column: 1;
}

.cat-photo{
  grid-row: 2;
  grid-column: 1;
}

.cat-photo img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(168, 155, 155, 0.2);
  width: 100%; /* Чтобы изображение занимало всю ширину родительского контейнера */
  max-width: 400px; /* Максимальная ширина изображения */
}

.cat-info {
  padding-left: 20px;
  margin-top: 20px;
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*  */
/* add cat */
/*  */

.add_cat {
  width: 500px;
  margin: 20px auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-add-cat {
  margin-bottom: 15px;
  width: 360px;
  display: flex;
  align-items: center;
}

.input-add-cat-label {
  display: inline-block;
  width: 140px;
  font-weight: bold;
}

.add-cat-input {
  text-align: center;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #505050;
  width: 220px;
}

.form-error {
  max-width: 360px;
  text-align: center;
  color: red;
  font-weight: bolder;
  margin-bottom: 5px;
}

.add-cat-submit {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.add-cat-submit:hover {
  background-color: #45a049;
}

/*  */
/* about */
/*  */

.h1_about {
  text-align: center;
}

/*  */
/* login */
/*  */

.login-container {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  color: #555;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #45a049;
}

.lost-password {
  text-align: center;
  margin-top: 10px;
  color: #888;
}

.error_login{
  background-color: #4c87af;
  height: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

/*  */